* {
    background-color: black;
    color: white;
  }
  
  body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem;
    flex-direction: column; /* Optional: Change to row for horizontal header */
  }
  
  .logo {
    width: 300px;
  }
  
  .buttons {
    display: flex;
    padding: 10px;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
  }
  
  .buttons a {
    display: flex; /* Make button content align vertically */
    align-items: center;
    text-decoration: none; /* Remove underline from text */
    /* Ensure full clickable area */
    width: fit-content;
    padding: 5px 10px; /* Add some padding for spacing */
  }
  
  .buttons a img {
    width: 130px; /* Adjust as needed */
    height: auto;
    margin-right: 10px; /* Add margin between image and text */
  }
  
  .buttons a:hover {
    opacity: 0.8; /* Slight opacity change on hover */
  }
  
  .footer {
    text-align: center;
    padding: 1rem;
  }
  
  @media screen and (max-width: 768px) {
    .header {
      flex-direction: column;
      align-items: center;
    }
  
    .logo {
      margin-bottom: 1rem;
    }
  
    .buttons {
      flex-direction: column; /* Optional: Change to row for buttons on small screens */
    }
  }
  